extends layout

block content
    h1=title
        form(method="post" action="/login")
            div.container-fluid
                div.row
                    div.col-md-4
                    div.col-md-4.border.p-4
                        div.form-group
                            label(for="username") Nombre de usuario:
                            input.form-control(type="text" name="username" id="username")
                        div.form-group
                            label(for="password") Contraseña:
                            input.form-control(type="text" name="password" id="password")
                        input.btn.btn-outline-primary(type="submit" value="Iniciar Sesión")
                    div.col-md-4
